<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>activiti demo</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/jquery/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/static/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div style="margin-top: 20px; margin-bottom: 10px;">
    	<span style="font-weight: 500; line-height: 1.1; font-size: 30px;margin-right: 10px">任务列表</span>
		<a href="/" >返回主页</a> 
    </div>
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>任务名称</th>
	            <th>受理人</th>
	            <th>任务KEY</th>
	            <th>流程ID</th>
	            <th>创建时间</th>
	            <th>操作</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr th:each="data : ${tasks}">
	            <td th:text="${data.id}"></td>
	            <td th:text="${data.name}"></td>
	            <td th:text="${data.assignee}"></td>
	            <td th:text="${data.taskDefinitionKey}"></td>
	            <td th:text="${data.processDefinitionId}"></td>
	            <td th:text="${#dates.format(data.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
	            <td>
	                <a href="javascript:void(0);" onclick="doHandle(this);" th:attrappend="objectId=${data.id}" lass="font-blue deployBtn">处理</a>
	                <a href="javascript:void(0);" onclick="openModal(this);" th:attrappend="objectId=${data.id}" lass="font-blue deployBtn">流程图</a>
	            </td>
	        </tr>
	        </tbody>
	</table>
	
	<div id="process-img" style="width: 100%; text-align: center; display: none; border: 1px solid blue;" class="alert" role="alert">
		<button type="button" class="close" onclick="$('#process-img').hide()"><span aria-hidden="true">&times;</span></button>
		<img alt="" src="" >
	</div>
	
</div>
</body>
<script th:inline="javascript">
    
function doHandle(obj){
    var id=obj.attributes['objectid'].nodeValue;
    $.ajax({
        url:"/process/next?taskId="+id,
        type:"GET",
        success:function(res){
            alert(res.message);
            window.location.reload();
        }
    });
}

function openModal(obj){
    var id=obj.attributes['objectid'].nodeValue;
    var src = "/process/getProcessImg?taskId=" + id;
    $('#process-img img').attr("src", src);
    $('#process-img').show();
}
   
</script>
</html>