<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>activiti demo</title>
	<script th:src="@{/static/jquery/jquery-1.11.3.min.js}"></script>
	<link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
	<h1>Activiti Demo</h1>
	<div>
		<a href="/models/list">模型列表</a> 
	</div>
	<div>
		<a href="/process/taskList">任务列表</a>
	</div>
</div>
</body>
</html>